
body{
  text-align: center;
  font-size: 17px;
  font-family: sans-serif;
  background:#a9d7d1;
  min-width: 320px;
}
 {
  font-size: 2em;
  font-weight: bold;
  margin: 20px;
}
#form-outer{
  background: white;
  margin: 10px auto;
  border-radius: 5px;
  padding: 10px;
  width: 75%;
  max-width: 800px;
}
.labels{
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 30%;
  margin: 20px;
  
}
.rowtab{
  margin: 20px;
}
.righttab{
  display: inline-block;
  width: 30%;
  text-align: left;
}

.input-field{
  height: 20px;
  width: 260px;
  margin: 15px;
  padding: 5px;
  border: 1px solid #d3cddd;
  border-radius: 5px;
  vertical-align: middle;
}

.dropdown{
  height: 30px;
  width: 150px;
  margin: 15px;
  padding: 5px;
  border: 1px solid #d3cddd;
  border-radius: 2px;
}

.userRatings{
  float: left;
  margin-right: 7px;
}
.radio, .check-box{
  margin-left: -35px;
  margin-bottom: -15px;
  margin-top: 22px;
  display: block;
}

#text-area{
  height: 50px;
  resize: vertical;
}

#submit{
  height: 40px;
  width: 90px;
  margin: 15px;
  color: white;
  background: #59ace0;
  border: 0px solid;
  border-radius: 5px;
  font-size: 1em;
}


@media screen and (max-width: 833px) {
  .input-field {
    width: 90%;
  }
  select {
    width: 90%;
  }
}


@media screen and (max-width: 658px) {
  .labels {
    width: 100%;
    text-align: left;
  }
  .righttab {
    width: 80%;
    float: left;
    
  }
  .input-field {
    width: 100%;
  }
  select {
    width: 100%;
  }
}